<main class="main">
  <div class="container">
    @for (product of products; track product) {
      <section class="product">
        <div class="image-wrapper">
          <img class="image" [src]="'assets/products/images/' + product.images[0]" [alt]="product.name" loading="lazy">
        </div>

        <div class="information">
          <p class="brand">{{ product.brand }}</p>
          <h2 class="name">{{ product.name }}</h2>

          <p class="description">{{ product.description }}</p>

          @for (price of product.prices; track price) {
            <div class="prices">
              <p class="price">
                {{ price.price }}
                @if (price.size) {
                  <span class="size"> - {{ price.size }}</span>
                }
              </p>

              <p class="available">В наявності {{ price.available }} шт.</p>
            </div>
          }

          <i class="note">{{ product.note }}</i>
        </div>
      </section>
    }
  </div>
</main>

<router-outlet />
