.header {
  padding: 16px 0;
  margin-bottom: 40px;

  .title {
    text-align: center;
  }

  .delivery,
  .sale {
    margin-top: 12px;
  }
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 32px 0;
  letter-spacing: 1px;

  &:nth-child(even) {
    .image-wrapper {
      order: 1;
    }

    .image {
      transform: rotate(20deg);
    }
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
    grid-column: span 1;
  }

  .image {
    object-fit: contain;
    max-height: 200px;
    max-width: 100%;
    transform: rotate(-20deg);
  }

  .information {
    grid-column: span 2;
  }

  .brand {
    font-size: 14px;
  }

  .name {
    margin-bottom: 16px;
  }

  .description {
    margin-bottom: 16px;
    font-size: 10px;
    text-align: justify;
  }

  .available {
    & + .available {
      margin-top: 16px;
    }

    &.not-available {
      color: #b3b3b3;
      user-select: none;
    }

    .price  {
      font-size: 32px;
    }

    .count-wrapper,
    .size {
      font-size: 10px;
    }

    .old-count {
      text-decoration: line-through;
      margin-right: 6px;
    }
  }

  .note {
    font-size: 8px;
  }
}
